@media screen and (min-width: 992px) {
    .w-form {
        width: calc(100% - 300px);
    }

    aside {
        width: 150px;
    }
}

@media screen and (min-width: 768px) {
    .offcanvas.offcanvas-end {
        width: 100vw;
    }
}