* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* NAV BAR */

.bg-nav {
    height: 80px;
    background-color: #f8f9fa;
}

.w-form {
    width: calc(100% - 100px);
}

.logo-mobile {
    width: 40px;
}

.icon-nav {
    color: #5b5858;
}

.cl-bell {
    color: #ff912c;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    border: none;
}

/* ASIDE */

aside {
    background-color: #021d33;
    height: calc(100vh - 80px);
    width: 60px;
}

.top-col,
.bottom-col {
    height: calc(90vh / 2);
}

/* CONTAINER TOPBAR MAIN */

.conatiner-topbar-main {
    width: calc(100vw - 60px);
}

/* TOP-BAR  */

.top-bar {
    background-color: #006de3;
}

.badge-topbar {
    background-color: #0457b6;
    border-radius: 10px;
    padding: .2rem .7rem;
    font-size: .7rem;
    display: inline;
}

.badge-plus {
    background-color: transparent;
    color: white;
    border-radius: 10px;
    padding: .2rem;
    font-size: 1rem;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid white;
}

/* .main-content {
    background-color: yellow;
    width: calc(100vw - 100px);
    height: calc(100vh - 100px);
} */