* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NAV BAR */

.bg-nav {
    height: 80px;
    background-color: #f8f9fa;
}

.w-form {
    width: calc(100% - 100px);
}

.logo-mobile {
    width: 40px;
}

.icon-nav {
    color: #5b5858;
}

.cl-bell {
    color: #ff912c;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    border: none;
}

aside {
    background-color: blue;
    height: 100vh;
    width: 100px;
}

.top-bar {
    height: 100px;
    width: calc(100vw - 100px);
    background-color: blueviolet;
}

.main-content {
    background-color: yellow;
    width: calc(100vw - 100px);
    height: calc(100vh - 100px);
}